<section
  id="hero"
  class="relative flex flex-col items-center justify-center text-center bg-cream pt-20 section_margin"
>
  <div class="relative w-full max-w-[115rem] mx-2">
    <img src="assets/heroimage.jpg" alt="Hero Image" class="w-full rounded-2xl object-cover" />
    <div
      class="absolute inset-0 flex flex-col justify-center items-center text-white bg-black/30 rounded-2xl"
    >
      <h1 @fadeInUpOnEnter class="text-5xl md:text-6xl font-bold mb-4 font-syne hero_h1">
        Your cells, supercharged
      </h1>
      <p @fadeInUpOnEnter class="text-lg font-medium max-w-2xl hero_para">
        Healthy inside, radiant outside.
      </p>
    </div>
  </div>
</section>
