<section class="py-20 bg-cream max-w-7xl mx-auto px-6">
  <h2 class="text-3xl md:text-4xl font-semibold text-center mb-12">
    Feel the difference in every aspect
  </h2>

  <div class="grid md:grid-cols-2 gap-10">
    <div class="bg-white rounded-2xl shadow-sm overflow-hidden">
      <img src="assets/wellnessimage.jpg" class="w-full object-cover h-64" />
      <div class="p-6 text-left">
        <h3 class="text-xl font-bold mb-2">Optimized female health</h3>
        <p class="text-gray-600">
          Scientifically engineered to enhance hormonal and reproductive wellness.
        </p>
      </div>
    </div>
    <div class="bg-white rounded-2xl shadow-sm overflow-hidden">
      <img src="assets/benefits2.jpg" class="w-full object-cover h-64" />
      <div class="p-6 text-left">
        <h3 class="text-xl font-bold mb-2">Enhanced deep sleep</h3>
        <p class="text-gray-600">Naturally improves sleep quality through circadian regulation.</p>
      </div>
    </div>
    <div class="bg-white rounded-2xl shadow-sm overflow-hidden">
      <img src="assets/benefits3.jpg" class="w-full object-cover h-64" />
      <div class="p-6 text-left">
        <h3 class="text-xl font-bold mb-2">Youthful skin</h3>
        <p class="text-gray-600">
          Boost collagen synthesis and cellular regeneration for glowing skin.
        </p>
      </div>
    </div>
    <div class="bg-white rounded-2xl shadow-sm overflow-hidden">
      <img src="/assets/benefits4.jpg" alt="benefit" class="w-full object-cover h-64" />
      <div class="p-6 text-left">
        <h3 class="text-xl font-bold mb-2">Extended longevity</h3>
        <p class="text-gray-600">Improves mitochondrial energy and cellular resilience.</p>
      </div>
    </div>
  </div>
</section>
